

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.button-options {
  background-color: #ffffff;
  border-style: solid;
  border-color: #4169e1;
  color: #4169e1;
}

.button-options:hover {
  background-color: #4169e1;
  color: #ffffff;
  border-color: #ffffff;
}
