

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html * {
  font-family: 'Roboto', sans-serif !important;
}

h1 {
  font-family: 'Shrikhand', cursive !important;
  color: black !important;
  text-align: center;
  border-bottom: thin solid black;
  border-width: 1px;
}

h2 {
  text-align: center;
  color: #FFF;
}

#choices {
  text-align: center;
}

#frenchflag {
  width: 8%;
  length: 8%;
}

.button-options {
  background-color: #FFF;
  color: #4169e1;
}

.button-options:hover {
  background-color: #4169e1;
  color: #FFF;
}

.jumbotron {
  background-color: #99CDFF;
}
