

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html * {
  font-family: 'Roboto', sans-serif !important;
}

h1 {
  text-align: center;
  color: #FFF;
}

#choices {
  text-align: center;
}

.button-options {
  background-color: #FFF;
  color: #4169e1;
}

.button-options:hover {
  background-color: #4169e1;
  color: #FFF;
}

.jumbotron {
  background-color: #0072BB;
}
